body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn {
    width: 75px;
    height: 75px;
    margin: 10px 15px;
}

button.btn{
    font-size: 30px;
}

button.number {
    border: 1px solid yellowgreen;
    border-radius: 10px;
}

button.number:hover {
    background-color: rgb(186, 241, 122);
}

button.operator {
    border: 1px solid steelblue;
    border-radius: 10px;
}

button.operator:hover {
    background-color: rgb(181, 236, 224);
}

button.equal {
    border: 1px solid rgb(238, 154, 168);
    border-radius: 10px;
}

button.equal:hover {
    background-color: rgb(240, 188, 200);
}

button.decimal {
    border: 1px solid gray;
    border-radius: 10px;
}

button.decimal:hover {
    background-color: rgba(200, 201, 194, 0.884);
}

#clear-btn {
    border: 2px solid rgb(250, 176, 110);
    border-radius: 10px;
}

#clear-btn:hover {
    background-color: rgb(252, 211, 172);
}

.first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 17px;
}

#screen {
    border: 1px solid rgb(121, 120, 120);
    border-radius: 10px;
    width: 290px;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.previous {
    font-size: 25px;
}

.current {
    font-size: 30px;
}